* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    background-color: #000000;
    color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.projects {
    margin-top: 80px;
}

.project {
    display: none;
    padding: 40px;
    min-height: 100vh;
}

iframe {
    margin-top: 50px;
    width: 100%;
    height: 95vh;
    border: none;
}

.project-container {
    margin-top: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul button {
    padding: 20px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page:hover {
    color: rgb(18, 215, 250);
    text-decoration: underline;
    text-decoration-color: rgb(15, 66, 111);
    cursor: pointer;
}