* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
}


.imgNav {
    margin-top: 0px;
    height: 640px;
    width: 100%;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgNav img {
    height: 100px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 20px;
}

.imgNav nav {
    margin-top: 10px;
    width: 70%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    color: white;
}

.div5 {
    margin-top: 30px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.one,
.two,
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    width: 300px;
    font-size: 18px;
}

.one,
.two,
.three p {
    text-align: center;
}

.one>span {
    font-weight: bold;
    font-style: italic;
}

.two>span {
    font-weight: bold;
    font-style: italic;
}

.three>span {
    font-weight: bold;
    font-style: italic;
}

.video-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.imgNav {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.svg-btn {
    display: flex;
    gap: 50px;
}